/* Margin (All Sides) */
.fw-m-0 { margin: var(--fw-space-0); }
.fw-m-1 { margin: var(--fw-space-1); }
.fw-m-2 { margin: var(--fw-space-2); }
.fw-m-4 { margin: var(--fw-space-4); }
.fw-m-8 { margin: var(--fw-space-8); }

/* Margin (Per Side) */
.fw-mt-2 { margin-top: var(--fw-space-2); }
.fw-mr-2 { margin-right: var(--fw-space-2); }
.fw-mb-2 { margin-bottom: var(--fw-space-2); }
.fw-ml-2 { margin-left: var(--fw-space-2); }

/* Margin (X & Y Axis) */
.fw-mx-auto { margin-left: auto; margin-right: auto; }
.fw-my-4 { margin-top: var(--fw-space-4); margin-bottom: var(--fw-space-4); }

/* Padding (All Sides) */
.fw-p-0 { padding: var(--fw-space-0); }
.fw-p-2 { padding: var(--fw-space-2); }
.fw-p-4 { padding: var(--fw-space-4); }
.fw-p-8 { padding: var(--fw-space-8); }

/* Padding (Per Side) */
.fw-pt-4 { padding-top: var(--fw-space-4); }
.fw-pr-4 { padding-right: var(--fw-space-4); }
.fw-pb-4 { padding-bottom: var(--fw-space-4); }
.fw-pl-4 { padding-left: var(--fw-space-4); }

/* Padding (X & Y Axis) */
.fw-px-4 { padding-left: var(--fw-space-4); padding-right: var(--fw-space-4); }
.fw-py-4 { padding-top: var(--fw-space-4); padding-bottom: var(--fw-space-4); }